<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
# ENABLE KEEP ALIVE
<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>
# Enable caching for CSS, JS, and image files
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|svg|js|css|woff|woff2|tff|eot)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://api.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://en.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://en.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jp.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jp.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://t.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://t.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.en.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.en.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jp.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jp.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.t.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.t.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.x.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.x.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.x.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.x.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://x.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://x.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://x.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://x.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://en.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://en.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jp.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jp.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://t.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://t.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.en.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.en.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fisherman-myanmar.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jp.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jp.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.r-mekiki.com.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.t.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.t.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.x.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.x.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.x.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.x.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://x.fisherman-myanmar.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://x.fisherman-myanmar.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://x.r-mekiki.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://x.r-mekiki.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://z253884-p78fl.ps02.zwhhosting.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://z253884-p78fl.ps02.zwhhosting.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

