<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/icons/fontawesome-free-5.15.4-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../assets/css/all.css">
</head>
<body>
    <div class="min-vh-100">

    </div>

    <!-- footer start -->
     <footer class="bg-main w-100">
         <div class="row justify-content-around w-100 py-3">
                <div class="col-12 col-lg-2 text-center text-white">
                    <img src="../../assets/images/logo.png" class="logo" alt="">
                    <p class="">Who We Are: Your Trusted Source for Fresh Seafood.</p>
                    <div class="social-icons d-flex justify-content-center gap-4">
                        <i class="fa-brands fa-line fs-3"></i>
                        <i class="fa-brands fa-facebook fs-3"></i>
                        <i class="fa-brands fa-weixin fs-3"></i>
                        <i class="fa-brands fa-xing fs-3"></i>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-3">
                    <h6 class="text-center text-primary">Useful Links</h6>
                    <ul class="list-unstyled link-list w-100 mx-auto">
                        <li><a href="#">>>Home</a></li>
                        <li><a href="#">>>Product</a></li>
                        <li><a href="#">>>FAQ</a></li>
                        <li><a href="#">>>Terms & Privacy</a></li>
                        <li><a href="#">>>Customer Review</a></li>
                        <li><a href="#">>>Blogs</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2 mt-3 text-center">
                    <h6 class="text-center text-primary">Contact Us</h6>
                    <ul class="list-unstyled text-white">
                        <li><a href="#">Address : address</a></li>
                        <li><a href="#">Phone : 098756292</a></li>
                        <li><a href="#">Email : user@email.com</a></li>
                </div>
         </div>
         <div class="row bg-dark m-0 justify-content-around">
                <div class="col-lg-5 text-white text-center text-lg-start">
                    <p class="my-2">&copy; Copyright 2024-fisherman Designed by Andfun</p>
                </div>
                <div class="col-lg-5 text-white text-lg-end text-center">
                    <p class="my-2">Privacy | Terms</p>
                </div>
         </div>
        </footer>


    
</body>
</html>