a {text-decoration: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}

.address-form,
.mobile .cost,
#warning-msg,
.popup{
    display: none;
}

html,
body {
    color: #005B96;
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
}

.progress-box {
    position: absolute;
    z-index: -1;
    height: 100%;
}

.progress-bar-2 {
    width: 80%;
    height: 10px;
    background: #f5f5f5;
    margin-top: 10px;
}

.progress-2 {
    width: 0;
    height: 100%;
    background-color: #005B96;
}

.step-list li {
    width: calc(100% / 5);
}

.step span {
    display: inline-block;
    width: 30px;
    aspect-ratio: 1/1;
    border: 1px solid #0045ac;
    color: #0045ac;
    background-color: white;
    border-radius: 100%;
}

.step.active span {
    background-color: #0045ac;
    color: white;
}

.scroller {
    position: relative;
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

.table thead,
.table tfoot {
    height: 20px;
    position: sticky;
}

.table tbody {
    min-height: 200px;
}

.table thead {top: 0;}
.table tfoot {bottom: 0;}

.table-img {
    width: 75px;
    padding: 0;
    margin: 0 auto;
}

.quantity {
    margin: 0 auto;
}

.table td,
.table th {
    font-size: 20px;
    background: #005B96;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

.table tbody td {
    color: #005B96;
    background-color: #ECF5FB;
}

.table tbody td:first-child {
    padding: 30px 0;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
    text-align: start;
}

.popup {
    height: 100vh;
    width: 100%;
    padding: 30px 20px;
    background-color: #0a0a0ac4;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: padding 0.5s linear;
}

main .line-wpr {
    margin: 20px auto;
    width: max-content;
    border: 1px solid #00C300;
    border-radius: 10px;
}

main .line-wpr a {
    padding: 9px 25px;
}

main .line-wpr:hover {
    box-shadow: 0px 0px 3px rgb(26, 98, 0);
}

main .icon-wpr {
    display: flex;
    gap: 10px;
    justify-content: center;
}
main .icon_social{
    width: 30px;
    height: 30px;
}
main .line-wpr a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #00C300;
    text-decoration: none !important;
}

main .icon {
    color: #fbfbfc;
    font-size: 20px;
}

main .icon.fa-line {
    font-size: 25px;
}

.login-box {
    max-width: 450px;
}

#payment-form {
    width: 100%;
    max-width: 550px;
    min-width: 310px;
    padding: 1.5rem;
    transition: padding 0.5s linear;
    transform: translateY(5%);
    box-shadow: 0px 0px 8px #18181899;
}

#payment-form .input-container {
    overflow: hidden;
}

#payment-form .input-group:has(input:focus),
#payment-form input:focus,
#payment-form select:focus {
    outline: 2px solid #0052cd;
}

#payment-form .title {
    font-size: 20px !important;
}

#payment-form form {
    gap: 1rem;
    margin-top: 1rem;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
}

#payment-form .input-wpr {
    gap: 1rem;
}

#payment-form .content {
    font-size: .8rem;
    color: #797979;
}

#payment-form .common-btn {
    width: 50%;
    max-width: 200px;
    padding-left: 0;
    padding-right: 0;
}

#payment-form select {
    padding: 12px .5rem !important;
}

#payment-form .input-group .form-control {
    margin: 0;
    font-size: inherit;
}

#payment-form .input-group .form-control:focus {
    outline: none !important;
}

.card-bank-img {
    width: 30px;
}

.btn-save {
    width: 100%;
    height: 100%;
    color: inherit;
    font-weight: inherit;
}

/* mobile */
.mobile {
    display: none;
}

.card,
.card-body {
    display: flex;
    flex-direction: row;
    border: none;
}

.card-body {
    justify-content: space-between;
    align-items: center;
}

.card-img {
    width: 25%;
}

.card-img img {
    max-width: 100px;
    height: 100px;
}

.del-btn {
    width: max-content;
    aspect-ratio: 1/1;
    background: #FF0000;
    border-radius: 10px;
    color: #ffffff;
}

.card-body {
    padding: 0;
}

/* login-form */
/* .login-box {
    position: relative;
    width: 80%;
    height: max-content;
    max-width: 450px;
    border-radius: 15px;
    padding: 20px 67px 40px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.login-header h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

main .login-header h2 p {
    font-size: 18px;
    margin-bottom: 15px;
}

main .input-container {
    gap: 15px;
}

main .input-box label {
    letter-spacing: 1.5px;
}

.input-box .input-group {
    margin-top: 5px;
    border: 2px solid #e2e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.input-box .input-group input {
    font-size: 18px;
    box-shadow: none;
}

.input-submit {
    width: 100%;
    border: 1px solid #005B96;
    background-color: #005B96;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    padding: 8px 0;
    margin: 10px auto 0;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.line-wpr {
    margin: 0 auto;
    width: max-content;
    border: 1px solid #00C300;
    border-radius: 10px;
}

.line-wpr a {
    display: flex
;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #00C300;
    text-decoration: none !important;
}

.icon_social {
    width: 30px;
    height: 30px;
}

.icon-wpr {
    display: flex
;
    gap: 10px;
    justify-content: center;
}

.register {
    font-size: 15px;
    margin: 0 auto;
}

.pw-setting {
    font-size: 15px;
    justify-content: space-between;
} */

/* login-form */

/* code from login.css */

main .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {margin-left: 0;}

main {
    color: #005B96;
}

main a {transition: color 0.3s}
main a:hover {color: #0045ac;text-decoration: underline !important;}

main .login-box {
    position: relative;
    width: 80%;
    height: max-content;
    max-width: 450px;
    border-radius: 15px;
    padding: 20px 67px 40px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

main .login-header h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

main .login-header h2 p {
    font-size: 18px;
    margin-bottom: 15px;
}

main .input-container {
    gap: 15px;
}

main .input-box .input-group {
    margin-top: 5px;
    border: 2px solid #e2e0e0;
    border-radius: 10px;
    overflow: hidden;
}

main .input-box .input-group input {
    font-size: 18px;
    box-shadow: none;
}

main .input-box label {
    letter-spacing: 1.5px;
}

main .input-box input {
    width: 100%;
    color: #000;
    background-color: transparent !important;
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 0.5em;
}

main .input-group:has(input:focus) {
    box-shadow: 0 2px 3px .1px #0178c7d0;
    border-color: #0178c7;
}

main .input-group:has(input:focus) i {
    color: #005B96;
}

main .input-group .btn {
    border: none;
    color: #5a5a5a;
    width: 50px;
}

main .input-group .btn:active {
    opacity: 0.5;
}

main .form-control.is-invalid {
    border: none;
}

main .pw-setting {
    font-size: 15px;
    justify-content: space-between;
}

main .register {
    font-size: 15px;
    margin: 0 auto;
}

main .register p {
    text-align: center;
    margin-top: 20px;
}

main input[type="password"] {
    font-size: 10px !important;
    letter-spacing: 1.5px;
    min-height: 43px;
}

main .input-submit {
    width: 100%;
    border: 1px solid #005B96;
    background-color: #005B96;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    padding: 8px 0;
    margin: 10px auto 0;
    transition: background-color .3s ease-in-out,
                color .3s ease-in-out;
}

main .input-submit:hover {
    background-color: #fff;
    color: #005B96;
}

main .input-submit:active {
    opacity: 0.7;
}

main .line-wpr {
    margin: 0 auto;
    width: max-content;
    border: 1px solid #00C300;
    border-radius: 10px;
}

main .line-wpr a {
    padding: 9px 25px;
}

main .line-wpr:hover {
    box-shadow: 0px 0px 3px rgb(26, 98, 0);
}

main .icon-wpr {
    display: flex;
    gap: 10px;
    justify-content: center;
}
main .icon_social{
    width: 30px;
    height: 30px;
}
main .line-wpr a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #00C300;
    text-decoration: none !important;
}

main .icon {
    color: #fbfbfc;
    font-size: 20px;
}

main .icon.fa-line {
    font-size: 25px;
}

@media  screen and (max-width: 576px) {
    main {
        padding: 50px 10px 80px;
    }
    main .login-box {
        width: 100%;
        padding: 20px;
     
    }
}

/* code from login.css */

@media screen and (max-width: 576px) {
    .cart {
        padding: 0;
    }
    .popup {
        font-size: .6rem;
        padding: .5rem;
    }

    .card-bank-img {
        width: 13px;
    }

    #payment-form .title {
        font-size: 14px !important;
    }

    #payment-form {
        padding: .1rem .5rem .5rem;
    }

    #payment-form form {
        margin-top: .1rem;
        padding: .5rem;
        gap: .2rem;
    }

    #payment-form .input-group,
    #payment-form input:focus,
    #payment-form select:focus {
        outline-width: 1px;
    }

    #payment-form .content {
        font-size: .5rem;
    }

    #payment-form .input-wpr {
        gap: .2rem;
    }

    #payment-form .common-btn {
        margin-top: .2rem;
        font-size: 14px;
        width: 40% !important;
        padding: .2rem;
    }

    .cvc-bank-img {
        width: 5%;
    }

    #complete .common-btn {
        padding: 7px 5px;
    }
}

@media screen and (max-height: 500px) {

    #payment-form {
        transform: translateY(10px);
    }
}