main {
  background: url(../images/bg/cristian-palmer-XexawgzYOBc-unsplash.jpg) no-repeat fixed center/cover; 
  color: #005B96;
  padding: 100px 0;
  min-height: 100vh;
  transition: padding 1s ease-in-out;
}

main a {transition: color 0.3s;font-size: 15px;}
main a:hover {color: #0045ac;text-decoration: underline !important;}

main .forgotpass {
  width: 100%;
  height: max-content;
  max-width: 450px;
}

main label {
  letter-spacing: 1.5px;
  font-size: 18px !important;
}

main input {
  font-size: 18px !important;
}

main .input-group:has(input:focus) {
  box-shadow: 0 2px 3px .1px #0178c7d0;
  border-color: #0178c7 !important;
}

main .form-control:focus {
  box-shadow: 0 2px 3px .1px #0178c7d0;
  border-color: #0178c7;
}

main .password-wpr .form-control {
  font-size: 10px !important;
  letter-spacing: 1.5px;
  min-height: 42.2px;
}

main .password-wpr .form-control:not([type='password']) {
  font-size: inherit !important;
}

main .password-wpr .form-control::placeholder {
  font-size: 18px !important;
}

main button[type="submit"] {
  /* width: 80%; */
  background-color: #005b96 !important;
  border: 1px solid #005B96 !important;
  color: #fff !important;
}

main button[type="submit"]:hover {
  background-color: #fff !important;
  color: #005b96 !important;
}

@media  screen and (max-width: 576px) {
  main {
      padding: 30px 10px 80px;
  }
}