header{
    background-color:#ECF5FB;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header{
    height: 127px;
    position: relative;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .input-group {
    width: 506px !important;
    height: 32px;
    justify-content: center !important;
}

header .input-group input{border-color: #005B96;border-radius: 10px 0px 0px 10px;height: 100%;font-size: 13px;
    padding-left: 30px;}
header .input-group button{width: 80px;border-radius: 0px 10px 10px 0px;}

/* .search{
    display: flex;
    align-items: center;
}

.search input{
    width: 403px;
    height: 32px;
    border: 1px solid #005B96;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 42px;
    background-color: transparent;
}

.search a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    background-color: #005B96;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    padding: 5px 42px;
    color: #ffffff;
} */

.icon{
    display: flex;
    gap: 50px;
}

.icon i{
    font-size: 45px;
    color: #005B96;
}

.bottom-header{
    position: absolute;
    bottom: -30px;
    background-color: #005B96;
    width: 90%;
    padding: 12px 20px;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%); 
}

.bottom-header nav{
    display: flex;
    gap: 180px;
    align-items: center;
}

.hambuger-menu i{
    font-size: 21px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.bottom-header nav ul {
    display: flex;
    gap: 50px;
    padding: 3px 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    scroll-behavior: smooth; /* Smooth scrolling effect */
}

.bottom-header nav ul::-webkit-scrollbar {
    display: none; /* Optional: hide the scrollbar for a cleaner look */
}

.bottom-nav {
    display: none;
}

@media screen and (max-width: 1100px) {

    .icon{
        display: none;
    }

    .bottom-nav {
        position: sticky;
        bottom: 0;
        z-index: 1000;
        background: #005B96;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }

    .bottom-nav a{
        text-align: center;
    }

    .bottom-nav div{
        position: relative;
        width: 83px;
    }

    .mobile-shopping-card{
        position: absolute;
        border-radius: 50px;
        padding: 13px 10px;
        background-color: #005B96;
        top: -60px;
    }

    .shopping{
        font-size: 30px !important;
    }

    .bottom-header{
        width: 100%;
    }
}

@media screen and (max-width: 850px) {

    .search input{
        width: 303px;
    }

    .search a{
        padding: 5px 22px;
    }

    .bottom-header nav{
        gap: 100px;
    }

    .bottom-header nav ul {
        gap: 30px;
    }
    
}

@media screen and (max-width: 768px) {

    .container{
        padding: 0px 10px;
    }

    .header{
        height: 60px;
    }

    .logo{
        width: 79px;
    }

    .search input{
        width: 165px;
        padding: 5px 20px;
    }

    .bottom-header{
        padding: 0 10px;
        bottom: -13px;
    }

    .bottom-header nav{
        gap: 50px;
    }
    
}




