header{
    background-color:#ECF5FB;
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 97px;
}

.header{
    position: relative;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

header .input-group {
    height: 32px;
    justify-content: center !important;
    box-shadow: none;
}

header .input-group:has(input:focus) {
    box-shadow: none;
}

header input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

header .input-group input {border-color: #005B96;border-radius: 10px 0px 0px 10px;height: 100%;font-size: 13px;padding-left: 30px;box-shadow: none;}
header .input-group button{width: 80px;border-radius: 0px 10px 10px 0px;}


.input-group:has(.magnifying-glass) .form-control {
    border: 1px solid #005B96;   
    box-shadow: none !important;
}

.input-group:has(.magnifying-glass) .form-control:focus {
    border-width: 2px;
}

.magnifying-glass:hover {
    background-color: transparent !important;
    color: #005B96 !important;
    border: 1px solid #005B96 !important;
}

.magnifying-glass:active {
    background-color: #005B96 !important;
    color: white !important;
}

.input-group:has(.form-control:focus) .magnifying-glass:hover {
    border-width: 2px !important;
}

.icon {
    font-size: 25px;
    color: #005B96;
}

.icon:hover {
    color: #ffc107;
    text-shadow: 0px 0px .2rem #1c1c1c;
}

header .dropdown {
    width: 250px;
    z-index: 1;
    height: max-content;
    right: 0;
    display: none;
}

header .dropdown.active {
    display: block;
}

header .dropdown a {
    padding: 15px;
}

header .dropdown li:hover {
    background-color: #e2e2e2;
}

header .input-group {
    justify-content: center !important;
  }
  
header .navbar-expand-lg .navbar-toggler {
display: block !important;
}

.search-result-list {
    width: 100%;
    z-index: 1;
    background-color: #ECF5FB;
    top: 40px;
    color: #005B96;
    display: none;
    overflow-y: scroll;
    max-height: 90vh;
  }
  
  .search-result-list dd img {
    width: 80px;
  }
  
  .search-result-list a:hover {
    background-color: color-mix(in srgb, #ECF5FB 95%, #000 5%);
  }

.cart-noti {
    width: 20px;
    font-size: 10px;
    aspect-ratio: 1/1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 2px;
    top: -8px;
    right: -13px;
}

.bottom-header{
    position: absolute;
    bottom: -47px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%); 
}

.bottom-header nav{
    display: flex;
    gap: 5%;
    border-radius: 50px;
    padding: 5px 20px;
    align-items: center;
    background-color: #005B96;
}

.hambuger-menu i{
    font-size: 21px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.bottom-header nav ul {
    display: flex;
    gap: 5%;
    padding: 3px 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    scrollbar-width: none;
}

.bottom-header nav ul::-webkit-scrollbar {
    display: none; /* Optional: hide the scrollbar for a cleaner look */
}

.menu-header:hover {
    color: #ffc107;
}

.bottom-nav {
    position: sticky;
    bottom: 0;
    z-index: 900;
    background: #005B96;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-nav a{
    text-align: center;
}

.bottom-nav div{
    position: relative;
    width: 83px;
}

.mobile-shopping-card{
    position: absolute;
    border-radius: 50px;
    padding: 13px 10px;
    background-color: #005B96;
    top: -60px;
}

.shopping{
    font-size: 30px !important;
}

/* search */
.box-content-search.active {
    top: 55px;
    opacity: 1;
    visibility: visible;
}

.box-content-search {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    background-color: var(--White);
    box-shadow: rgba(20, 25, 38, 0.05) 0px 4px 24px 2px;
    height: 538px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    border-radius: 14px;
    padding: 16px;
}

.search-bar {
    max-width: 600px;
}


@media screen and (max-width: 1100px) {

    .icon{
        display: none;
    }

    .bottom-header{
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .top-header {
        padding-top: 10px;
        padding-bottom: 35px;
    }

    .bottom-header{
        bottom: -22px;
    }
}

@media screen and (max-width: 850px) {

    .search a{
        padding: 5px 22px;
    }

    /* .bottom-header nav{
        gap: 100px;
    } */

    .bottom-header nav ul {
        gap: 30px;
    }
    
}

@media screen and (max-width: 768px) {

    .container-custom{
        padding: 0px 10px;
    }

    .logo{
        width: 100px;
    }

    .search input{
        padding: 5px 20px;
    }

    .bottom-header{
        padding: 0 10px;
    }

    /* .bottom-header nav{
        gap: 50px;
    } */

    
}





