.hero-section{
  gap: 20px;
}
/* .pagination{
  display: flex;
  justify-content: center;
} */

input[type='range'] {
  top: 0;
  left: 0;
}

#min-range {
  width: 0;
}

/* .pagination a{
  background-color: transparent;
  border: 1px solid #3498DB;
  border-radius: 5px;
  padding: 9px 18px;
  margin: 0 5px;
  cursor: pointer;
  color: #3498DB;
}

.pagination a:hover{
border: 1px solid #3498DB;
} */

/* pagination start */

/* pagination start */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding: 0;
}

.pagination li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #005B96;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #005B96;
  cursor: pointer;
  background-color: #fff;
  transition: .5s;
}

.pagination ul li a{
  color: #003366;
}


.pagination li:hover {
  background-color: #005B96;
  color:#00CCFF;
}
.pagination li.active  {
  background-color: #005B96 !important;
  color:#00CCFF !important;
}

/* pagination end */

@media screen and (max-width:768px) {
  .product-btn{
    padding: 4px 28px;
  }
}

input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 2px;
  bottom: 0;
  background-color: transparent !important;
  pointer-events: none;
}
.slider-track{
  width: 100%;
  height: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: #005B96;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #005B96;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  height: 1em;
  width: 1em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #005B96;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 3px solid #005B96;
}