/* footer start */
main {
  min-height: 100vh;
  margin-top: 60px;
}

footer .logo {
  height: 60px;
}

footer ul li a {
  text-decoration: none;
}

footer .link-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

footer .link-list li a,
ul li a {
  color: white;
}

@media screen and (max-width: 768px) {
  footer .link-list {
      grid-template-columns: auto;
      width: 150px !important;

  }

}