.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flag-icon {
    width: 24px;
    height: 16px;
    margin-right: 10px;
}

.dropdown-item img {
    width: 24px;
    height: 16px;
    margin-right: 10px;
}

input[type="text"].form-control {
    padding-left: 10px;
    border: 1px solid var(--primary-color);
}

input.form-control::placeholder {
    color: var(--primary-color) !important;
    opacity: 0.8;
}

.card {
    border: 2px dashed var(--black-color);
    --bs-card-color:var(--primary-color);
}

.btn-outline-primary {
    --bs-btn-color: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-active-bg: var(--primary-color);
    --bs-btn-active-border-color: var(--primary-color);
    --bs-btn-disabled-color: var(--primary-color);
    --bs-btn-disabled-border-color: var(--primary-color);
}
/* .card {
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-cap-color: ;
    --bs-card-color: ;
    color: var(--bs-body-color);
    background-color: var(--bs-card-bg);
} */