* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    color: #fff;
    font-family:'Poppins', sans-serif; 
    background: url(../images/fisher-bg.jpg) no-repeat fixed center/cover;
}

main {
    display: flex;
    padding: 50px;
}

.login-box {
    width: 100%;
    max-width: 855px;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.login-header {
    font-size: 30px;
    color: black;
}


.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.input-field {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: black;
    padding-inline: 20px 50px;
    border: 2px solid #F9F9F9;
    border-radius: 5px;
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: -28px;
    transition: 0.2s;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}
.forgot a{
    text-decoration: none;
    color: #F9F9F9;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input-submit {
    width: 100%;
    height: 50px;
    background: #c6c3c3;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.input-submit:hover {
    background: #F9F9F9;
}
.register {
    text-align: center;
}
.register a {
    font-weight: 500;
}