  /* sidebar menu and carousel section start */
  .sidebar-menu{background-color:#ECF5FB ;list-style: none;padding: 15px;line-height: 27px;}
  .sidebar-menu a{
    display: block;
    text-decoration: none;
    text-align: center;
  }
  
  /* styles.css */
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    background-color: white; /* Bootstrap Primary Blue */
    border-radius: 50%;
    border: none;
    margin: 0 5px;
  }
  
  .carousel-indicators [data-bs-target].active {
    background-color: #005B96; /* Darker blue for active indicator */
  }
  
  .carousel-item img{height: 350px;}

   /* sidebar menu and carousel section end */

   /* sort button section start */
.sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 0px 0px 0px 10px;
    
  }
  
  .arrows {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 9px;
  
  }
  
  .arrows i{height: 10px;font-size: 20px;color: #005B96;}
  
  .sort-button {
    background-color: #005B96; /* Deep blue */
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 8px 16px;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sort-button:hover {
    background-color: #003366; /* Slightly darker blue */
  }
  
  /* sort button section end */

  /* discount product-card section start */
.product-card {
    max-width: 200px;
    border: none;
    /* background-color: #ffffff; */
    background-color: transparent;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
  }
  
  .discount-badge {
    position: absolute;
    right:0px;
    background-color: #004B8D;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    width: 50px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
  }
  
  .card-title {
    font-size: 18px;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn{
    --bs-btn-padding-y: 0px !important;
  }
  .btn-outline-primary {
    border: 1px solid #004B8D;
    color: #004B8D;
  }
  
  .btn-outline-primary:hover {
    background-color: #004B8D;
    color: white;
  }
  
  .discount-products .product-card .card-body,.all-products .product-card .card-body{padding:10px 0px;}
  .discount-products .product-card .card-body .card-text{font-size: 12px;}
  .cart-btn .btn,.seemore-btn{
    --bs-btn-padding-y:.05rem !important;
  }
  .seemore-btn{width: 150px;}
  
  /* discount-products section end */

  /* price range section start */
  .price-range {
    width: 200px;
    text-align: center;
}

.bar {
    position: relative;
    height: 8px;
    background-color: #005B96;
    border-radius: 4px;
    margin: 20px 0;
}

.selected-range {
    position: absolute;
    height: 8px;
    background-color: #00CCFF;
    border-radius: 4px;
}

.handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3498DB;
    border-radius: 5px;
    cursor: pointer;
    top: -6px;
    transform: translateX(-50%);
}

.price-labels {
    display: flex;
    justify-content: space-between;
    color: #007bff;
    font-size: 16px;
}

.price-labels span {
    font-weight: bold;
}
  /* price range section end */



  /* pagination start */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
    padding: 0;
  }
  
  .pagination li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #005B96;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #005B96;
    cursor: pointer;
    background-color: #fff;
    transition: .5s;
  }
  
  /* .pagination li.active {
    background-color: #005B96;
    color: #fff;
  } */
  
  .pagination li:hover {
    background-color: #005B96;
    color:#00CCFF;
  }
  
    /* pagination end */


