<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Discover premium-quality fresh fish expertly selected by R-Mekiki. Perfect for sushi, sashimi, and gourmet cooking. Freshness guaranteed, delivered to your door. Order now! "> 
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Category</title>
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/all.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/category.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <!-- Main Content -->
  <main>

    <h1>hello</h1>
    <div class="wpr d-flex justify-content-between">

      <!-- Aside -->
      <div class="side-menu rounded">
        <ul class="list-group">
          <li><a href="">鮮魚 (1134)</a></li>
          <li><a href="">マグロ (188)</a></li>
          <li><a href="">貝類 (322)</a></li>
          <li><a href="">エビ・カニ (321)</a></li>
          <li><a href="">イカ・タコ (190)</a></li>
          <li><a href="">ウニ・イクラ・白子・魚卵 (119)</a></li>
          <li><a href="">海藻・干物・漬魚・ちりめん・練物類 (401)</a></li>
          <li><a href="">珍味・惣菜・漬物 (440)</a></li>
          <li><a href="">調味料・わさび・飾り物 (202)</a></li>
        </ul>
        <div class="d-flex">
          <a href="" class="see-product">See more Product</a>
        </div>
      </div>
      <!-- Aside End -->

      <!-- Category List -->
      <section class="category">
        <ul class="d-flex flex-column category-list">
          <li class="d-flex flex-column rounded">
            <h2 class="title">Sub Categorie Name</h2>
            <div class="top-bar d-flex justify-content-between">
              <div class="wpr-1">
                <button class="btn">
                  <i class="fa-solid fa-th-large"></i>
                </button>
                <button class="btn">
                  <i class="fa-solid fa-list"></i>
                </button>
              </div>
              <div class="wpr-2">
                <button class="btn">
                  <i class="fa-solid fa-sort"></i>
                </button>
                <button class="btn btn-primary sort">Sort by</button>
              </div>
            </div>
            <ul class="card-list d-flex container">
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
            </ul>
            <button class="see-more btn btn-outline-primary">See more</button>
          </li>
          <li class="d-flex flex-column rounded">
            <h2 class="title">Sub Categorie Name</h2>
            <div class="top-bar d-flex justify-content-between">
              <div class="wpr-1">
                <button class="btn">
                  <i class="fa-solid fa-th-large"></i>
                </button>
                <button class="btn">
                  <i class="fa-solid fa-list"></i>
                </button>
              </div>
              <div class="wpr-2">
                <button class="btn">
                  <i class="fa-solid fa-sort"></i>
                </button>
                <button class="btn btn-primary sort">Sort by</button>
              </div>
            </div>
            <ul class="card-list d-flex container">
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
            </ul>
            <button class="see-more btn btn-outline-primary">See more</button>
          </li>
          <li class="d-flex flex-column rounded">
            <h2 class="title">Sub Categorie Name</h2>
            <div class="top-bar d-flex justify-content-between">
              <div class="wpr-1">
                <button class="btn">
                  <i class="fa-solid fa-th-large"></i>
                </button>
                <button class="btn">
                  <i class="fa-solid fa-list"></i>
                </button>
              </div>
              <div class="wpr-2">
                <button class="btn">
                  <i class="fa-solid fa-sort"></i>
                </button>
                <button class="btn btn-primary sort">Sort by</button>
              </div>
            </div>
            <ul class="card-list d-flex container">
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
              <li class="card">
                <img src="../../assets/images/Red_sea_bream.svg" class="card-img-top" alt="Red_sea_bream">
                <div class="card-body">
                  <p class="fish-price">$10</p>
                  <p class="fish-category">鮮魚|白身魚</p>
                  <h3 class="fish-name card-title">真鯛</h3>
                  <p class="fish-description card-text">
                    A prized sea bream in Japanese cuisine, known for its firm, white flesh and delicate, slightly sweet flavor. Commonly used in sashimi, sushi, and grilled dishes .....
                  </p>
                  <div class="d-flex justify-content-between gap-3">
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="col-6 btn btn-outline-primary"><i class="fa-solid fa-bookmark"></i></button>
                  </div>
                </div>
              </li>
            </ul>
            <button class="see-more btn btn-outline-primary">See more</button>
          </li>
        </ul>
      </section>
      <!-- Category List End -->

    </div>

  </main>
  <!-- Main Content End -->
</body>
</html>