<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="shortcut icon" href="../../assets/images/logo.png">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Discover premium-quality fresh fish expertly selected by R-Mekiki. Perfect for sushi, sashimi, and gourmet cooking. Freshness guaranteed, delivered to your door. Order now!">
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/all.css">
  <link rel="stylesheet" href="../../assets/icons/fontawesome-free-5.15.4-web/css/fontawesome.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/header.css">
  <link rel="stylesheet" href="../../assets/css/footer.css">
  <link rel="stylesheet" href="../../assets/css/login.css">
</head>

<body>
    <!-- header start -->
    <header>
      <nav class="navbar navbar-expand-lg bg-second shadow-sm pb-3">
        <div class="container-fluid">
          <div class="row justify-content-between w-100">
            <div class="col-2 col-lg-2"> <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png"
                  class="navbar-logo" alt=""></a></div>
            <div class="col-9 col-lg-5 d-flex justify-content-center align-items-center">
              <div class="input-group">
                <input type="text" class="form-control bg-second " placeholder="Search your Products">
                <button class="btn bg-main text-white"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
            </div>
            <div class="col-2 d-none d-lg-flex justify-content-center align-items-center ">
              <div class="w-100 d-flex justify-content-around icon-list">
                <i class="fa-solid fa-cart-shopping fs-3 txt-primary"></i>
                <i class="fa-solid fa-bookmark fs-3 txt-primary"></i>
                <i class="fa-solid fa-circle-user fs-3 txt-primary"></i>
              </div>
            </div>
          </div>
          
        </div>
      </nav>
      <div class="container  secnav">
        <div class="row second-navbar bg-main m-0 w-100">
          <div class="col-1 ">
            <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
          </div>
          <div class="col-11 d-flex justify-content-center">
            <ul class="text-nowrap nav-menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Special Offer</a></li>
              <li><a href="#">青物</a></li>
              <li><a href="#">イカ</a></li>
              <li><a href="#">白身魚</a></li>
              <li><a href="#">魚介類</a></li>
              <li><a href="#">エビ</a></li>
              <li><a href="#">たこ</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
        </div>
    
      </div>
      <div class="slideshow d-lg-none">
        <marquee behavior="scroll" direction="left" scrollamount="4">
          Scroll beside to see more menu &nbsp;&nbsp;&nbsp; Scroll beside to see more menu &nbsp;&nbsp;&nbsp; Scroll beside
          to see more menu
        </marquee>
      </div>
    </header>
    <!-- //header end -->

  <!-- main content start -->
  <main>
    <div class="login-box d-flex flex-column">
      
      <div class="login-header">
        <h2> Login
          <p> Welcome to Fisherman Login Page</p>
        </h2>
      </div>

      <!-- form start -->
      <form action="#" get="" enctype="multipart/form-data" class="input-container d-flex flex-column">
        
        <div class="input-box  d-flex flex-column">
          <label for="user">Username</label>
          <div class="input-group">
            <input type="text" id="user" class="form-control bg-second ">
            <button class="btn text-white" tabindex="-1"><i class="fa-solid fa-user"></i></button>
          </div>
        </div>

        <div class="input-box  d-flex flex-column">
          <label for="pass">Password</label>
          <div class="input-group">
            <input type="password" id="pass" class="form-control bg-second ">
            <button class="btn text-white" tabindex="-1"><i class="fa-solid fa-eye"></i></button>
          </div>
        </div>

        <div class="pw-setting d-flex">
          <div class="remember">
            <input type="checkbox" id="remember">
            <label for="remember">Remember me</label>
          </div>
          <div class="forgot-pw">
            <a href="#">Forgot password</a>
          </div>
        </div>
        <input type="submit" class="input-submit" value="Login">

        <div class="register">
          <span>Don't have an account?
            <a href="register.html" class="ms-1">Register</a>
          </span>
        </div>
        <div>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
        </div>
      </form>
      <!-- form end -->
    </div>
  </main>
  <!-- main content end -->

    <!-- footer start -->
    <footer class="bg-main w-100">
      <div class="row justify-content-around w-100 py-3">
        <div class="col-12 col-lg-2 text-center text-white">
          <img src="../../assets/images/logo.png" class="logo" alt="">
          <p class="">Who We Are: Your Trusted Source for Fresh Seafood.</p>
          <div class="social-icons d-flex justify-content-center gap-4">
            <i class="fa-brands fa-line fs-3"></i>
            <i class="fa-brands fa-facebook fs-3"></i>
            <i class="fa-brands fa-weixin fs-3"></i>
            <i class="fa-brands fa-xing fs-3"></i>
          </div>
        </div>
        <div class="col-12 col-lg-3 mt-3">
          <h6 class="text-center text-primary">Useful Links</h6>
          <ul class="list-unstyled link-list w-100 mx-auto">
            <li><a href="#">>>Home</a></li>
            <li><a href="#">>>Product</a></li>
            <li><a href="#">>>FAQ</a></li>
            <li><a href="#">>>Terms & Privacy</a></li>
            <li><a href="#">>>Customer Review</a></li>
            <li><a href="#">>>Blogs</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 mt-3 text-center">
          <h6 class="text-center text-primary">Contact Us</h6>
          <ul class="list-unstyled text-white">
            <li><a href="#">Address : address</a></li>
            <li><a href="#">Phone : 098756292</a></li>
            <li><a href="#">Email : user@email.com</a></li>
        </div>
      </div>
      <div class="row bg-dark m-0 justify-content-around">
        <div class="col-lg-5 text-white text-center text-lg-start">
          <p class="my-2">&copy; Copyright 2024-fisherman Designed by Andfun</p>
        </div>
        <div class="col-lg-5 text-white text-lg-end text-center">
          <p class="my-2">Privacy | Terms</p>
        </div>
      </div>
    </footer>
    <!-- footer end -->
</body>

</html>